<!-- registro-alumnos.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-nav">
      <button class="nav-link btn btn-link" (click)="mostrarFormularioAlumno()">Registrar Alumno</button>
      <button class="nav-link btn btn-link" (click)="mostrarFormularioResponsable()">Registrar Responsable</button>
    </div>
  </div>
</nav>

<div class="container mt-3" *ngIf="mostrarFormularioAlumnos">
  <h2>Registro de Alumnos</h2>
  <form (ngSubmit)="submitFormAlumno()">
    <div class="mb-3">
      <label class="form-label">Nombre:</label>
      <input type="text" class="form-control" [(ngModel)]="alumno.nombre" name="nombre" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Apellido:</label>
      <input type="text" class="form-control" [(ngModel)]="alumno.apellido" name="apellido" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Fecha de Nacimiento:</label>
      <input type="date" class="form-control" [(ngModel)]="alumno.fecha_nacimiento" name="fechaNacimiento" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Cédula:</label>
      <input type="text" class="form-control" [(ngModel)]="alumno.cedula" name="cedula" required>
    </div>
    <button type="submit" class="btn btn-primary">Registrar Alumno</button>
  </form>
</div>

<div class="container mt-3" *ngIf="mostrarFormularioResponsables">
  <h2>Registro de Responsables</h2>
  <form (ngSubmit)="submitFormResponsable()">
    <div class="mb-3">
      <label class="form-label">Nombre del Responsable:</label>
      <input type="text" class="form-control" [(ngModel)]="responsable.nombre" name="nombre" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Apellido del Responsable:</label>
      <input type="text" class="form-control" [(ngModel)]="responsable.apellido" name="apellido" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Número del Responsable:</label>
      <input type="text" class="form-control" [(ngModel)]="responsable.numero" name="numero" required>
    </div>
    <button type="submit" class="btn btn-primary">Registrar Responsable</button>
  </form>
</div>

